In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib
import scipy
import os

In [10]:
# File to Load (Remember to change these)
collegeData = "Most-Recent-Cohorts-Scorecard-Elements.csv"

In [11]:
collegeData_df = pd.read_csv(collegeData)

In [15]:
collegeData_df.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,D150_4_LOANNOPELL,C150_L4_LOANNOPELL,D150_L4_LOANNOPELL,C150_4_NOLOANNOPELL,D150_4_NOLOANNOPELL,C150_L4_NOLOANNOPELL,D150_L4_NOLOANNOPELL,GT_28K_P10,GT_28K_P8,GT_28K_P6
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,195.0,NaN,NaN,0.3258,89.0,NaN,NaN,0.567,0.483,0.431
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,229.0,NaN,NaN,0.5603,630.0,NaN,NaN,0.726,0.686,0.631
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,NaN,NaN,NaN,0.5000,2.0,NaN,NaN,0.7,0.631,0.542
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,135.0,NaN,NaN,0.5606,264.0,NaN,NaN,0.755,0.71,0.649
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,55.0,NaN,NaN,0.2277,101.0,NaN,NaN,0.494,0.436,0.351

In [14]:
#Ergin Made this
collegeData_df[["SATVR25", "UGDS_ASIAN"]].head()

   SATVR25  UGDS_ASIAN
0    380.0      0.0019
1    480.0      0.0598
2      NaN      0.0000
3    520.0      0.0414
4    370.0      0.0028

In [16]:
#Ergin Made this
average = collegeData_df["SATVR25"].mean()
average

467.58061889250814

In [17]:
total_students = collegeData_df["UGDS"].sum()
total_students

15627822.0